<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background: #f2f4f7;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        form {
            background: #fff;
            padding: 80px 20px;
            border-radius: 12px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            width: 360px;
            
            margin-left: 5px;
        }
        h2 {text-align: center;
            color: #333;
            position: absolute;
            top:100px;
           
            margin-bottom: 25px;
        }
        label {
            font-weight: bold;
            display: block;
            margin-bottom: 5px;
            margin-left: 2px;
            color: rgb(71, 65, 65);
        }
        button{
          background-color: rgb(211, 214, 218);
          margin-left: 100px;
          padding: 3px;
        }
        button:hover {
            background: #1a6965;
            color:white;
        }
        input {
            width: 80%;
            /* padding: 10px; */
            /* margin-bottom: 20px; */
            border: 1px solid #ccc;
            border-radius: 6px;
            padding: 5px;
            font-size: 14px;
        }
        #submit{
            margin-top: 20px;
            padding: 3px 10px;
        }
    </style>
</head>
<body>
    <h2>
   Forgot Password
    </h2>
    <form action="/forgot-password" method="POST">
        <label>Email:</label>
    <input type="email" name="email" placeholder="enter registered email" required>
    <button id="submit" type="submit">Next</button>
    </form>
</body>
</html>