<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME PAGE</title>
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <label class="logo">HAPPY LIVING</label>
            <ul>
                <li><a href="/"> Home</a></li>
                <li><a href="/about_us"> About us</a></li>
                <li><a href="/fee_structure">fee structure </a></li>
                <li><a href="/notice">notice board</a></li>
                <li><a href="/admission">Addmission Form</a></li>
                <li><a href="/photo_gallary">photo gallary</a></li>
                <!-- <li><a href="/login">Login</a></li> -->
                <li id="log"><a href="">login</a>
                <div class="dropdown">
                    <ul>
                        <li><a href="/student/login">student </a></li>
                        <li><a href="/login">admin </a></li>
                   </ul>
                </div>
                </li>
            </ul>
        </div>
        <main>
            <section>
        <H3>HAPPY Living makes your living Happy</H3>
        <p>For any details and enquiry you can contact us anytime.</p>
        <div class="button"> 
            <a href="/contact">CONTACT  US</a>
        </section>
        </main>
</div>
    </div>
</body>
</html>