*{
    margin: 0;
    padding: 0;
    background-color: #4293e4;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    /* display: flex; */
    height: 100vh;
    
}

